## Variance Calculation For AMD ##

### Setup ###

In [1]:
import pandas as pd
import numpy as np

In [2]:
AMD_2019 = pd.read_csv("../Data/AMD/AMD_2019.csv")
AMD_2020 = pd.read_csv("../Data/AMD/AMD_2020.csv")
AMD_2021 = pd.read_csv("../Data/AMD/AMD_2021.csv")
AMD_2022 = pd.read_csv("../Data/AMD/AMD_2022.csv")
AMD_2023 = pd.read_csv("../Data/AMD/AMD_2023.csv")

In [3]:
AMD_5_yrs = pd.concat([AMD_2019, AMD_2020, AMD_2021, AMD_2022, AMD_2023]).reset_index()
display(AMD_5_yrs[["date", "open", "close", "high", "low"]])

            date    open   close    high     low
0     2019-01-02   18.05   18.82   19.00   17.98
1     2019-01-03   18.39   17.05   18.68   16.94
2     2019-01-04   17.57   19.00   19.07   17.43
3     2019-01-07   19.43   20.57   20.68   19.00
4     2019-01-08   21.18   20.75   21.19   19.68
...          ...     ...     ...     ...     ...
1253  2023-12-22  140.44  139.62  140.68  138.31
1254  2023-12-26  139.99  143.44  143.85  139.92
1255  2023-12-27  144.74  146.13  146.25  143.17
1256  2023-12-28  146.76  148.75  150.41  145.95
1257  2023-12-29  149.50  147.43  151.05  147.20

[1258 rows x 5 columns]

### Calculation ###

In [4]:
# Replace the table name with one of whichever we would like to use, ex:
df =  AMD_2023.copy()
#df = AMD_5_yrs.copy()

In [5]:
N = np.sqrt(252) # This is a constant which will "Anualize" the volatility. there are around 252 trading days in a given year. 
#This is given by the space of a price interval, multiplied by how many intervals fit into the timespan we are converting the volatility to. 
#In this case interval = 1 day. 255 days fit into a year, which is what we want to convert the volatility to.

In [6]:
#Now we need to convert from the prices to the returns, day to day.
percent_returns = df[["open","close", "high", "low"]].pct_change(1)
display(percent_returns)

         open     close      high       low
0         NaN       NaN       NaN       NaN
1   -0.014708  0.010153 -0.016298 -0.004247
2   -0.013389 -0.036029 -0.022496 -0.015953
3   -0.014974  0.025826 -0.000155 -0.035955
4    0.048773  0.051916  0.078072  0.093407
..        ...       ...       ...       ...
245  0.017313 -0.001787  0.005001  0.006770
246 -0.003204  0.027360  0.022533  0.011641
247  0.033931  0.018753  0.016684  0.023228
248  0.013956  0.017929  0.028444  0.019417
249  0.018670 -0.008874  0.004255  0.008565

[250 rows x 4 columns]

In [7]:
# Now we calculate their standard deviation. (then "annualize" it)
volatility = percent_returns.std() * N
display(volatility)

open     0.472000
close    0.469928
high     0.440370
low      0.421846
dtype: float64